/* Published Date */
.p1 {
   font-family: 'Times New Roman', serif;
}
/* Actual Excerpt */
.p2 {
   font-family:'Arial', sans-serif;
}
/* Link to website */
.p3 {
   font-family: 'Courier New', monospace;
}
/*the background, h1, h2, & p*/
body {
  background-color: rgb(200,200,200);}
h1 {
  background-color: DarkCyan;}
}
h2 {
  background-color: #ee3e80;}
p {
  background-color: white;}
}
