/* Published Date */
.p1 {
   font-family: 'Times', sans-serif;
}
/* Actual Excerpt */
.p2 {
   font-family:'Times',sans-serif;
}
/* Link to website */
.p3 {
   font-family: 'Comic Sans MS', monospace;
}
