body {
   background-color: #7d4627;
   font-family: monospace;
   margin: 0;
   padding: 0;
   font-size: 12px;
}
.title{
  color: #c9d8c5;
  position: relative;
}
.who{
  color: ##5a5c51;
}
.who-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #5a5c51;
   color: #fff;
   font-size: 1.25em;
}
.what-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #97743a;
   color: #fff;
   font-size: 1.25em;
}
.where-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #935347;
   color: #fff;
   font-size: 1.25em;
}
.when-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #ba9077;
   color: #fff;
   font-size: 1.25em;
}
.why-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #e6cf8b;
   color: #fff;
   font-size: 1.25em;
}
.header {
    background-color: #a8b6bf;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0.25em;
}
.menu-item {
    margin: auto;
    padding: 0.25em;
    min-width: 75px;
    font-size: 10pt;
    color: #3b3a36;
    background-color: #a8b6bf;
    line-height: 2.1em;
}
.menu-item:hover {
    background-color: #a8b6bf;
    color: #3b3a36;
}
.display-inline-block {
    display: inline-block;
}
