body {
   background-color: #7d4627;
   font-family: monospace;
   margin: 0;
   padding: 0;
   font-size: 12px;
}
.title{
  color: #c9d8c5;
  position: relative;
  text-align: center;
  font-size: 2.75em;
  font-family: monospace;
}
.who{
  color: ##5a5c51;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
}
.who-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #5a5c51;
   color: #fff;
   font-size: 1.25em;
   font-family: monospace;
}
.what{
  text-align: center;
  font-size: 2em;
  font-family: monospace;
}
.what-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #97743a;
   color: #fff;
   font-size: 1.25em;
   font-family: monospace;
}
.where{
  text-align: center;
  font-size: 2em;
  font-family: monospace;
}
.where-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #935347;
   color: #fff;
   font-size: 1.25em;
   font-family: monospace;
}
.when{
  text-align: center;
  font-size: 2em;
  font-family: monospace;
}
.when-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #ba9077;
   color: #fff;
   font-size: 1.25em;
   font-family: monospace;
}
.why{
  text-align: center;
  font-size: 2em;
  font-family: monospace;
}
.why-statement{
  width: 75%;
   margin: 1em auto;
   padding: 1em;
   text-align: center;
   border: 10px solid #fff;
   background-color: #e6cf8b;
   color: #fff;
   font-size: 1.25em;
   font-family: monospace;
}
